* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 10vh;
}

header > img {
	height: 90%;
	width: 100px;
	object-fit: contain;
}

header > button {
	border-radius: 25px;
	padding: 5px;
	font-weight: 700;
	width: 100px;
	box-shadow: 1px 1px 5px;
	border: none;
	background-color: white;
}
section {
	height: 100dvh;
	width: 100%;
	background-image: url(/images/bg-hero-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 255, 255, 0.11);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

section > h1 {
	padding: 0 40px;
	text-align: center;
}

section > p {
	padding: 0 40px;
	text-align: center;
	margin-top: -25px;
}

section > button {
	width: 300px;
	background-color: rgb(255, 0, 162);
	border-radius: 25px;
	padding: 15px 10px;
	border: none;
	color: white;
	font-weight: 700;
}
section > img {
	height: 250px;
	width: 90%;
	object-fit: contain;
}

main {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.grow-together {
	border: 1 solid grey;
	width: 90%;
	height: 70vh;
	box-shadow: 7;
	border-radius: 25px;
	box-shadow: 1px 1px 10px;
}

.grow-together-image {
	width: 100%;
	height: 50%;
	padding: 20px;
}

.grow-together-image > img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.grow-together-text {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 0 40px;
	text-align: center;
}
.grow-together-text > p {
	color: grey;
}

footer {
	background-color: red;
	height: 110vh;
	position: relative;
}

.boutonbas {
	width: 80%;
	height: 150px;
	margin: auto;
	position: absolute;
	top: -50px;
	left: 10%;
	border-radius: 25px;
	font-size: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.boutonbas > button {
	background-color: rgb(232, 0, 170);
	color: white;
	padding: 10px;
	border-radius: 25px;
	width: 200px;
	font-size: 10px;
}

.cadrebas {
	padding-top: 125px;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
